<nav>
  <ul>
    <li><a href="/">Accueil</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/bookings">Réservations</a></li>
    <li><a href="/catways">Catways</a></li>
    <li><a href="/users">Utilisateurs</a></li>
    <li><a href="/logout">Se déconnecter</a></li>
  </ul>
</nav>
