<!DOCTYPE html>
<html lang="fr">
<head>
  <%- include('partials/head') %>
  <title>Tableau de bord</title>
</head>
<body>
  <%- include('partials/navbar') %>

  <h1>Tableau de bord</h1>

  <ul>
    <li><a href="/catways">Gestion des catways</a></li>
    <li><a href="/users">Utilisateurs</a></li>
    <li><a href="/logout">Se déconnecter</a></li>
  </ul>

  <%- include('partials/footer') %>
</body>
</html>
