<!DOCTYPE html>
<html lang="fr">

<head>
  <%- include('partials/head') %>
  <title>Express</title>
<body>
  <%- include('partials/navbar') %>
    
  <h1>Port de Plaisance Russell</h1>
  <h2>Bienvenue sur notre application de gestion</h2>

  <p>Connectez-vous pour accéder à votre compte</p>
  <form action="/dashboard" method="post">
    <div class="form-group">
      <label for="username">Nom d'utilisateur :</label>
      <input type="text" id="username" name="username" required>
    </div>
    <div class="form-group">
      <label for="password">Mot de passe :</label>
      <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Se connecter</button>
  </form>
  <p><a href="/register">Créer un compte de gestion</a></p>

  <%- include('partials/footer') %>

</body>
</html>
