<!DOCTYPE html>
<html lang="fr">
<head>
  <%- include('partials/head') %>
  <title>Inscription</title>
</head>
<body>
  <%- include('partials/navbar') %>

  <main>
    <h1 class="hero"><i class="fas fa-user-plus"></i> Créer un compte</h1>
    <div class="table-box">
      <form class="create-form" action="/users" method="POST">
        <label for="name">Nom * :</label>
        <input type="text" name="name" required>

        <label for="firstname">Prénom :</label>
        <input type="text" name="firstname">

        <label for="email">Email * :</label>
        <input type="email" name="email" required>

        <label for="password">Mot de passe * :</label>
        <input type="password" name="password" required>

        <button type="submit" class="btn-secondary"><i class="fas fa-user-plus"></i> S'inscrire</button>
      </form>

      <p>Déjà un compte ? <a href="/">Connectez-vous ici</a></p>
    </div>
  </main>

  <%- include('partials/footer') %>
</body>
</html>
